################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/docs
/library-2017.VC.db
/.vs/library-2017/v14/.suo
/.vs/library-2017/v14
/library-2017.VC.VC.opendb
